
/* Titulo*/
.wrap > h1 {
    color: #323436;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
}
/*Linea horizontal*/
.wrap > h1::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #C7C7C7;
    margin: 20px 0px;
}

.store-wrap{
    display: flex;
}
/*CAategorias ==========================*/
.category_list{
    display: flex;
    flex-direction: column;
    width: 10%;
}
.category_list .category_item{
    display: block;
    padding: 15px 0px;
    margin-bottom: 20px;
    background: red;


    text-align: center;
    text-decoration: none;
    color: #fff;
} 
.category_list .ct_item-active{
    background: #2D3E50;
}

/*Productos ===============================*/
.products_list{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
.products_list .product-item{
    width: 22%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}
.products_list .product-item img{ 
    width: 100%;
    height: 175px;
}
/*Estilo Generales*/
/*Para el nombre, precio  y  añadir al carrito de los productos*/
.products_list .product-item p{ 
    width: 100%;
    padding: 8px 0px;
    cursor: pointer;
    text-align: center;
}
/*Estilo especificos*/
/*Estilos para el nombre, precio  y añadir al carrito de los productos*/
.products_list .product-item .nombre{ 
    background: #2D3E50;
    color: #fff;
}
.products_list .product-item .precio{ 
    font-weight: bold;
    padding: 3px 0px;
    background: white;
    color: red;
}
.products_list .product-item .comprar{ 
    background: orangered;
    color: white;
}

/*Shopping ===============================================*/
.shopping{
    display: flex;
    flex-direction: column;
    width: 15%;
}
.shopping .carrito{
    display: flex;
    /*Centrar Verticalmente y horizonalmente? un texto*/
    align-items: center;
    
    margin-left: 10%;
    margin-bottom: 10%;
}
.shopping .carrito img{
    width: 40%;
}
.shopping .carrito p{
    width: 50%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.shopping a{
    display: block;
    margin-left: 10%;
    padding: 10px 0px;
    margin-bottom: 50px;
    background: red;

    text-decoration: none;
    text-align: center;
    color: #fff;
}