
.titulo{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    width: 60%;
}
.titulo > h1 {
    color: #323436;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
}
.titulo > hr {
    height: 1px;
    margin-bottom: 30px;
    background-color: white;
}

.elementos {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    width: 60%;
}

.opcionesList{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.opcionesList .opcion{
    display: block;
    padding: 15px 0px;
    margin-bottom: 20px;
    background: red;

    text-align: center;
    text-decoration: none;
    color: #fff;
} 

/* ================================*/
.nombresList{
    margin-left: 10%;
    width: 70%;
}

/*Estilo para el div item que contiene al label y boton*/
.nombresList .item{
    display: flex;
    padding: 10px;
    background: rgb(207, 202, 203);
    margin-bottom: 10px;
}

/*Elimina puntos de la lista*/
li{
    list-style:none;
}

/*Estilo para la etiqueta del nombre  */
label{
    width: 90%;
    font-size: larger;
}

/*Estilo para los botones*/
input{
    background: black;
    width: 25px;
    height: 25px;

    cursor: pointer;
    color: white;
}